*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: arial, sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
nav {
    display: flex;
    align-items: center;
    margin-right: 30px;
    margin-top: 14px;
}
.nav-left {
    flex: 1;
    padding-left: 30px;
}
.nav-right  {
    padding-right: 30px;
}
nav a {
    font-size: 13px;
    display: inline-block;
    line-height: 24px;
    font-weight: 400;
    color: rgba(63, 57, 57, 0.87);
    cursor:pointer;
    padding:5px 6.7px;
}
nav a:hover {
    text-decoration: underline;
    opacity: 0.85;
}
nav img {
    width: 34px;
    padding: 2px;
    margin: auto 6px;
    position:relative;
    top: 10px;
    cursor:pointer;
}
nav button {
    border:1px solid #4285f4;
    font-weight: bold;
    outline: none;
    background: #4285f4;
    color: white;
    padding: 7px 12px;
    border-radius: 3px;
    margin-left: 7px;
    cursor: pointer;
}
nav button:hover {
    opacity: .85;
    box-shadow: 0px 5px 5px 0px #4286f46b
}
.section-1 {
    flex: 1;
}
.section-1 .logo {
    display: block;
    margin: 0px auto;
    margin-top: 115px;
}
.search-box {
    width:  580px;
    margin: 0px auto;
    position: relative;
    margin-top: 8px;
    text-align: center;
}
.search-box .search-input {
    display: block;
    border: 1px solid #ddd;
    color: rgba(0,0,0,.87);
    font-size: 16px;
    padding: 13px;
    padding-left: 45px;
    border-radius: 25px;
    width: 100%;
    transition: box-shadow 100ms;
    outline: none;
}
.search-box .search-input:hover {
    border: 1px solid white;
    box-shadow: 0 0 2px rgba(0,0,0,.05),
                0 0 2px rgba(0,0,0,.05),
                0 0 3px rgba(0,0,0,.05),
                0 0 4px rgba(0,0,0,.05),
                0 0 5px rgba(0,0,0,.05),
                0 0 4px rgba(0,0,0,.05),
                0 0 5px rgba(0,0,0,.05);
}
.search-box .search-icon {
    width: 20px;
    opacity: .4;
    position: absolute;
    top: 13px;
    left: 14px;
}
.search-btn {
    border: 1px solid transparent;
    padding: 9px 15px;
    color: rgb(46, 46, 46);
    background-color: rgb(245, 245, 245);
    font-size: 14px;
    border-radius: 4px;
    display: inline-block;
    margin-right: 10px;
    margin-top: 28px;
    outline: none;
    cursor: pointer;
    transition: border-color 100ms;
}
.search-btn:hover {
    border: 1px solid #aaa;
}
footer {
    background: #f2f2f2;
}
footer a {
    color: #5f6368;
    display: inline-block;
    padding: 12px 11.3px;
    font-size: 14px;
}
footer a:hover {
    text-decoration: underline;
}
.links {
    border-top: 1px solid #ddd;
    display: flex;
}
.links-1 {
    padding-left: 18.7px;
    flex: 1;
}
.links-2 {
    padding-right: 18.7px;
}